
<br>
<div class="col-md-8 col-md-offset-2">
	<% if notice %>
	<div class="alert alert-warning" role="alert" style="padding:1%">
		<%= notice %>
	</div>
	<% end %>
	<br>

<div class="jumbotron">
	<h1>User Login</h1>
	<br>

		<%= form_tag sessions_create_path do %>
		<div class="from-group">
			<%= label_tag 'Username' %>
			<%= text_field_tag :username,'', :class => 'form-control' %>
		</div>
		<div class="from-group">
			<%= label_tag 'Password'  %>
			<%= password_field_tag :password_digest, '', class:'form-control' %>
		</div>
		<div class="from-group">
			<%= submit_tag 'Login' , class: 'btn btn-block btn-primary'%>
		</div>
		<% end %>		
</div>

</div>


