

<%= form_for(@book, html:{ multipart:true })  do |f| %>

<% if @book.errors.any?%>
	<% @book.errors.full_messages.each do |m| %>
	<%= m %>
	<% end %>
<% end %>


<div class="form-group">
	<%= f.label 'Book Category' %>
	<%= f.select(:category_id, options_for_select(Category.all.map{ |c| [c.category, c.id]})) %>
</div>
<div class="form-group">
	<%= f.label :title %>
	<%= f.text_field :title , class: 'form-control' %>
</div>
<div class="form-group">
	<%= f.label :description %>
	<%= f.text_area :description , class: 'form-control', rows: 8 %>
</div>
<div class="from-group">
	<%= f.label :author %>
	<%= f.text_field :author , class: 'form-control' %>
</div>
<div class="from-group">
	<%= f.label :book_img %>
	<%= f.file_field :book_img , class: 'form-control' %>
</div>
<br>
<div class="form-group">
	<%= f.submit %>
</div>

<% end %>
