<% if notice %>
<div class="alert alert-success" role="alert" style="padding:1%">
	<%=notice %>
</div>
<% end %>

<% if @books.count ===0 %>
<h1><%= @book_category %></h1>
	<% if books_path %>
	<div class="alert alert-warning" role="alert" style="padding:1%">
		No Book under <%= @book_category %>
	</div>
	<% end %>
<% else %>
	<% if params[:category].blank? %>
<% end %>

<h1><%= @book_category %></h1>
	<% @books.each do |book| %>
		<div class="col-md-3">
		<br>
			<center>
				<%= link_to (image_tag(book.book_img, class: 'img img-round thumbnail', height: '250', width:'200')) , book_path(book.id) %>
			</center>
		</div>
		
	<% end %>
<% end %>
