<br>
<div class="row">
	<div class="well col-md-3">
		<img src="<%= @book.book_img%>" heigt="250" width="100%">
	</div>
	<div class="well col-md-8 col-md-offset-1">
		<h3><%= @book.title %> 
		<small>
			<% if @book.user_id == session[:account_id] %>
				 - <%= link_to 'Edit' , edit_book_path(@book) %> | <%= link_to 'Delete', book_path(@book) ,method: :delete, data: {confirm: 'Are you sure?'} %>
			<% end %>
		</small>
		</h3>
		<h4>from <%= @book.author %></h4>

		<!-- Check # of reviews -->
		<% if @no_of_review < 1 %>
		    <p>The Book hasn't reviewed.</p>
		<% else %>
		    <div class="average-rating" data-score="<%= @average %>"><h5>Average Rating</h5></div>
			<i>Based on <%= @no_of_review %> review(s)</i>
		<% end %>
		<p><%= @book.description %></p>
		<hr>
		<br>
	</div>
</div>
<div class="row col-md-4 well">
	<h4>Reviews</h4>
	<%= link_to 'Add Review', new_book_review_path(@book), class:'btn btn-default' %> <br>
	<!-- render reviews here -->

	<br><%= render @book.review %>

	<%= link_to 'Back', root_path , class:'btn btn-default' %>

</div>

<script>
	$('.review-rating').raty({
		readOnly: true,
		score: function() {
			return $(this).attr('data-score');
		},
		path: '/assets/'
	});
</script>

<script>
	$('.average-rating').raty({
		readOnly: true,
		score: function(){
			return $(this).attr('data-score')
		},
		path: '/assets/'
	});
</script>

