<div class="col-md-8">
	<%= form_for([@book, @book.review.build]) do |f|  %>
	<div class="form-group">
		<%= f.label :rating %>
		<div id="rating-form">
			
		</div>
		
	</div>
	<div class="form-group">


	</div>
	<div class="form-group">
		<%= f.label :comment  %>
		<%= f.text_area :comment, class:'form-control', rows:'8' %>
	</div>

	<%= f.text_field :book_id , type:'hidden'%>
	<%= f.text_field :user_id, :value => session[:account_id], type:'hidden'%>
	<br>
	<%= f.submit class:'btn btn-success' %>
	<% end %>	
</div>

<script>
	$('#rating-form').raty({
		path: '/assets/',
		scoreName: 'review[rating]'
	});
</script>



