<div class="review-rating" data-score="<%= review.rating %>">	
</div>
<b><%= Account.find(review.user_id).name %></b>

<% if review.user_id == session[:account_id] %>
	<%= link_to 'Edit', edit_book_review_path(review.book, review) %> |
	<%= link_to 'Delete', book_review_path(review.book, review) , method: :delete, data: {confirm: 'Are you sure?'} %>
<% end %>

<p><%= review.comment %></p>

<script>
	$('.review-rating').raty({
		readOnly: true,
		score: function(){
			$(this).attr('data-score')
		},
		path: '/assets/'
	});
</script>