<h1>Edit Review</h1>

<%= form_for([@book, @review]) do |f|%>
<div class="col-md-8">
	<form>
		<div class="form-group">
			<%= f.label 'Rating' %>
			<div class="rating"></div>
		</div>
		<div class="form-group">
			<%= f.label 'Comment' %>
			<%= f.text_area :comment, class: 'form-control'%>
		</div>
		<div class="form-group">
			<%= f.submit  %>
		</div>
	</form>
</div>

<% end %>

<script>
	$('.rating').raty({
		scoreName: 'review[rating]',
		path: '/assets/'
	});

</script>