<!DOCTYPE html>
<html>
<head>
  <title>Book Review</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <style type="text/css">
     a{text-decoration:none;}
  </style>
</head>
<body class="yellow lighten-5">
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Book Review</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li>
        <% if session[:account_id] == nil %>
         <%= link_to 'SIGN UP', new_account_path %>
        <% end %>
       
        <!-- <a href="#">Sign Up <span class="sr-only">(current)</span></a> --></li>
        <% if session[:isLogged] == 'logged' %>
          <li><%= link_to 'LOG OUT', sessions_destroy_path %></li>
        <% else %>
          <li><%= link_to 'LOG IN', sessions_new_path %></li>
        <% end %>

      </ul>
      
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">CATEGORIES <span class="caret"></span></a>
          <ul class="dropdown-menu">
          <% Category.all.each do |c| %>
            <li>
              <%= link_to c.category, books_path(category: c.id)%>
            </li>
          <% end %>
          </ul>
        </li>
        <% if session[:account_id] != nil %>
          <li><a href="/books/new">Add Book</a></li>
        <% end %>
        
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div class="container">
	<%= yield %>
</div>


    
</body>
</html>
