<%= form_for(@account) do |f| %>
<div class="form-group">
	<%= f.label :name %>
	<%= f.text_field :name , class: 'form-control' %>
</div>
<div class="form-group">
	<%= f.label :username %>
	<%= f.text_field :username , class: 'form-control' %>
</div>
<div class="form-group">
	<%= f.label :password %>
	<%= f.password_field :password , class: 'form-control' %>
</div>
<div class="form-group">
	<%= f.submit class: 'btn btn-success btn-block' %>
</div>

<% end %>